services:
  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    ports:
      - "1025:1025" # SMTP server port
      - "8025:8025" # Web interface port
    logging:
      driver: 'none' # Optional: disables saving logs to reduce verbosity
